.App {
  text-align: top;
}

.App-header {
  background-color: #867666;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #EaE2D6;
}
.App-link1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #66A5AD;
}
}
.App-link2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #66A5AD;
}
.App-canvas{
  background-color: #d5c3aa;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #867666;
}