.App {
  text-align: top;
}

.App-header {
  background-color: #white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #22252C;
}
.App-link1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #66A5AD;
}
.App-link2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #66A5AD;
}
body {
  background-color: #white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  font-size: 70px;
  color: #e14658;
}
.App-footer {
  background-color: #3F3250;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #EaE2D6;
}
